.admin_wrap {
  /* display: flex;
    flex-direction: column;
     */
}

.admin_header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.admin_logo {
  margin-left: 15px;
  margin-right: 0px;
  height: 100px;
  width: 100px;
}

.admin_nav {
  display: flex;
  margin-left: 30px;
  font-size: 16px;
  align-items: center;
}

.admin_nav>a {
  color: #010101;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.table {
  width: 95%;
  border-spacing: 0;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table .th_up {
  background-image: url("../img/arrows/up_arrow.png");
}

.table .th_down {
  background-image: url("../img/arrows/down_arrow.png");
}

.table .th_default {
  background-image: url("../img/arrows/default.png");
}

th.th_up,
th.th_default,
th.th_down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
  background: #fff;
}

.select_show {
  height: 25px;
  width: 125px;
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 15px;
}

.edit_container {
  display: flex;
}

.btn_excel_container{
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
  width: 25%;
  margin-bottom: 25px;
}

.btn_excel{
  border-radius: 15px;
  background-color: #21A366;
  border: solid 2px #10793F;
  height: 35px;
}

.add_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_container>div {
  margin: 10px;
}

.add_container>div>input,
select {
  margin-left: 10px;
}

.edit_list {
  background-color: #eff0f0;
  height: 500px;
  width: 60%;
  overflow: auto;
}

.edit_element {
  background-color: #e0f0f0;
  padding: 5px;
  border: 2px solid;
  margin: 10px;
}

.edit_element>div {
  background-color: #e0f0f0;
}

.edit_element>div>span {
  background-color: #e0f0f0;
}

button {
  border-radius: 15px;
  background-color: #a50a13;
  border: solid 1px #a50a13;
  color: #FAEADA;
  height: 25px;
  width: 130px;
}

.link_logout{
  color: #a50a13 !important;
  cursor: pointer;
}