* {
    margin: 0 auto;
    padding: 0;
    background-color: #F9EAD2;

}

.main {
    background-image: url(../img/Wallpaper.png);
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
}

.info {
    width: 800px;
    height: 168px;
    background: transparent;
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0 auto;
    align-self: center;
    top: 18%;
}

.title {
    width: 877px;
    height: 70px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.instruction {
    width: 751px;
    /* height: 247px; */
    padding-top: 43px;
    font-weight: 400;
    font-size: 16px;

}

.login_radio {
    margin: 10px;
}

.login_radio>input {
    margin: 10px;
}

.login_block {
    display: flex;
    justify-content: left;
}

.class-btn {
    width: 164px;
    height: 55px;
    border-radius: 15px;
    background-color: #a50a13;
    border: solid 1px #a50a13;
    color: #FAEADA;
}

.login_text {
    padding-top: 12px;
    width: 966px;
}

/* 
.password {
    width: 979px;
} */

.password_box {
    background-color: white;
    width: 264px;
    height: 44px;
    border-radius: 15px;
    border: solid 2px #a48150;
    padding-left: 10px;
}

.down {
    position: fixed;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #9A0809;
    bottom: 0;
    background-image: none
}

.login_input {
    margin-top: 25px;
    margin-left: 12px;
    margin-bottom: 12px;
    width: 253px;
    height: 19px;
    border-radius: 15px;
    padding: 13px 15px;
    background-color: white;
    border: solid 2px #af8e60;
}


@media(max-height: 1000px) {
    .down {

        display: none;
    }
}